

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

.App-NavBar {
  display: flex;
  background-color: #333;
}

/* Style the navigation bar links */
.App-NavBar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.App-NavBar a:hover {
  background-color: #ddd;
  color: black;
}

.App-body {
  font-family: Arial;
  margin: 0;
}

.App-footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

.App-link {
  color: #61dafb;
}

.row {  
  display: flex;
  flex-wrap: wrap;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

